@use '../../../styles/mixins' as *;

.content_wrapper {
    width: 70%;
    height: 100%;
    justify-self: center;

    @include respond-between('small', 'xlarge') {
        justify-self: unset;
        width: 100%;
        

        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
}