@use '../../../shared/styles/vars' as *;
@use '../../../shared/styles/mixins' as *;

.footer {
    width: 100vw;
    height: 341px;

    display: grid;

    align-items: center;
    position: relative;

    &::after {
        content: '';
        width: 60%;
        border: 1px solid #888888;
        position: absolute;
        left: 20%;
    }
    .footer_top, .footer_bottom {
        width: 60%;
        height: auto;

        justify-self: center;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer_top {
        
        .logo_wrapper {
            display: flex;
            align-items: center;
            @include textStyle($size: 25px, $weight: 600);
            gap: 5px;
        }

        .socials_wrapper {
            display: flex;
            gap: 44px;
        }
    }

    .footer_bottom {
        @include textStyle($size: 18px, $weight: 400, $lineHeight: 24px, $color: #404040);
        & > div {
            display: flex;
            gap: 108px;
        }
    }
}

.footer {
    @include respond-between('small', 'xlarge') {
        height: 700px;
        justify-content: start;
        align-items: start;
        
        &::after {
            display: none;
        }

        .footer_bottom, .footer_top {
            flex-direction: column;
            width: 100vw;
            gap: 45px;
            
        }

        .footer_bottom {
            flex-direction: column;
            align-items: center;

            & > div {
                gap: 15px;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}