.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main {
        & > div {
            

            margin-top: 35px;
            margin-bottom: 35px;
        }
        flex-grow: 1;
    }
}