@use '../../../styles/mixins' as *;
@use '../../../styles/vars' as *;

.icon_wrapper {
    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    img {
        vertical-align: bottom;
    }
    &.medium {
        width: 88px;
        height: 88px;

        img {
            width: 48px;
            height: 48px;
        }
    }
    &.large {
        width: 116px;
        height: 116px;

        img {
            width: 68px;
            height: 68px;
        }
    }
    @media (max-width: 768px) {
        &.large, &.medium {
            width: 56px;
            height: 56px;
            border-radius: 10px;
    
            img {
                width: 32px;
                height: 32px;
            }
        }

    }
}
