@use './vars' as *;

@mixin textStyle($size: 14px, $weight: 400, $color: $black, $lineHeight: 20px) {
    font-family: $defaultFont;

    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $lineHeight;
}

@mixin respond-between($min-breakpoint, $max-breakpoint) {
  // Получаем значения из карты
    $min-width: map-get($breakpoints, $min-breakpoint);
    $max-width: map-get($breakpoints, $max-breakpoint);

    @if $min-width == null {
        @warn "Брейкпоинт `#{$min-breakpoint}` не найден.";
    }
    @if $max-width == null {
        @warn "Брейкпоинт `#{$max-breakpoint}` не найден.";
    }

    @if $min-width != null and $max-width != null {
        @media (min-width: $min-width) and (max-width: $max-width) {
        @content;
        }
    }
}

@mixin price-card-variant($bg: transparent, $border: none, $title-color: $text-color, $advantages-color: $primary-color, $price-color: $text-color, $button-bg: $primary-color, $button-color: $white) {
    background: $bg;
    border: $border;
    
    .price_card_title { color: $title-color; }
    .advantages { color: $advantages-color; }
    .price_wrapper .pretitle, .price_wrapper .price, .price_wrapper .period { color: $price-color; }
    .free_trial {
        background: $button-bg;
        color: $button-color;
        &:focus {
            
            color: $button-color;
            border: 1px solid $button-bg;
            text-decoration: underline;
        }
    }
}