@use './vars' as *;

html,
body,
#root {
    position: relative;
}

body {
    font-family: $defaultFont;
    
    overflow-x: hidden;
}

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}