@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/vars' as *;

.header {
    width: 100%;
    height: max-content;

    margin-top: 40px;

    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        justify-self: center;
        gap: 50px;


        .logo_wrapper {
            display: flex;
            width: 190px;
            height: 40px;
            align-items: center;
            gap: 13px;
    
            width: max-content;
            .logo {
                width: 100%;
                height: 100%;
                vertical-align: bottom;
    
            }
            .logo_title {
                @include textStyle($size: 35px, $weight: 600)
            }
        }

        .mobile_nav_open_btn {
            width: 30px;
            height: 24px;

            padding: 0;
            margin: 0;
            position: relative;

            border: none;
            background: none;
            cursor: pointer;
            user-select: none;

            .line, &::after, &::before {
                content: '';
                width: 100%;
                height: 4px;

                background: $orange;
                position: absolute;
                left: 0;
                transition: all 150ms ease-in-out;
                border-radius: 4px;
            }

            &::before {
                top: 0;
            }

            .line {
                top: 40%;
                transition: all 100ms ease-in-out;
            }

            &::after {
                bottom: 0;
            }

            &.open_animate {
                .line {
                    width: 0;
                }
                &::after, &::before {
                    top: 40%;
                }

                &::after {
                    rotate: 45deg;
                }
                &::before {
                    rotate: -45deg;
                }
            }
        }

    }
    .mobile_nav {
        width: 100vw;
        height: 300px;
        border: none;

        background: #cac2c21f;
        position: fixed; /* Фиксированное позиционирование для скольжения */
        top: 10%;
        left: 0;
        transform: translateY(-100%); /* Скрыто снизу */
        opacity: 0;
        visibility: hidden; /* Полностью скрыто по умолчанию */
        transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out; /* Плавная анимация */
        z-index: 1000; /* Над остальным контентом */
        
        &.mobile_nav_open {
            transform: translateY(0); // Показать: скользит вниз на свое место
            opacity: 1;
            visibility: visible;
        }

        &.mobile_nav_closed {
            transform: translateY(-100%); // Скрыть: скользит обратно вверх
            opacity: 0;
            visibility: hidden;
            
        }
        .mobile_nav_content {
            width: 100%;
            height: 100%;
            padding-top: 25px;
            transition: all 0.3s ease-out; 
        }

    }
}


.header {
    @include respond-between('small', 'xlarge') {
        margin-top: 26px;

        .header_content {
            width: 90%;
            justify-self: center;
            
            gap: 70px;
            .logo_wrapper {
                .logo_title {
                    @include textStyle($size: 25px, $weight: 600)
                }
            }
        }
    }
}
