@use '../../../styles/vars' as *;
@use '../../../styles/mixins' as *;

.nav_wrapper {
    width: 100%;
    height: max-content;
    .nav_items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;

        & > li > a {
            @include textStyle($size: 18px);
            transition: color 120ms ease-in-out;
            &:hover {
                color: $gray;
            }
        }

    }

    @include respond-between('small', 'large') {
        & {
            .nav_items {

                flex-direction: column;
                align-items: center;
            }
        }
    }
}