.benefits_section {
    
    display: grid;
    justify-content: center;
    row-gap: 64px;
    .benefits_wrapper {
        width: max-content;

        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    @media (max-width: 768px) {
        & {
            padding: 80px;
            .benefits_wrapper {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 50px;
            }
        }
    }
}